[submodule "labs/lab01"]
	path = labs/lab01
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP2511/22T2/students/z5364212/lab01.git
[submodule "labs/lab02"]
	path = labs/lab02
	url = https://gitlab.cse.unsw.EDU.AU/COMP2511/22T2/students/z5364212/lab02.git
